.download {
  border-bottom: 1px solid #666;
  margin-bottom: 30px;
}

.download-logo {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
}

.footer {
  color: #666;
}

.page-link {
  background-color: inherit;
  color: inherit;
}
