{% macro render_download(download, from_index=false) %}
<div class="download text-left">
  <h4>{{ download.title }}</h4>
  {{ download.description }}
  <p>
    <a class="btn btn-sm btn-secondary" href="{{ download.url }}">
      <i class="fa fa-arrow-circle-o-down"></i> Download
    </a>
  </p>
</div>
{% endmacro %}
