{% macro render_pagination(pagination) %}
<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm justify-content-center">
    {% if pagination.has_prev %}
    <li class="page-item">
      <a class="page-link" href="{{ pagination.prev|url }}">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a disabled class="page-link" href="#">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{ pagination.page }}</a></li>
    {% if pagination.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ pagination.next|url }}">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a disabled class="page-link" href="#">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endmacro %}
