{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h4>{{ this.title }}</h4>
  {{ this.description }}
  <p class="lead">
    <a class="btn btn-lg btn-secondary" href="{{ this.url }}">Download</a>
  </p>
{% endblock %}
