<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/static/cover.css'|url }}">
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
    <title>{% block title %}Welcome{% endblock %} — vlcore</title>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <nav class="nav nav-masthead">
                <a class="nav-link" href="{{ '/'|url }}">Home</a>
                {% for href, title in [
                  ['/download', 'Download'],
                ] %}
                <a class="nav-link" href="{{ href|url }}" {% if this.is_child_of(href) %} class="active"{% endif %}>{{ title }}</a>
                {% endfor %}
              </nav>
            </div>
          </div>

          <div class="inner cover">
            {% block body %}{% endblock %}
          </div>

          <div class="footer">
            <div class="inner">
              <p>&copy; Copyright 2021 by VL Core Team</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/b6ddaa6cf1.js"></script>
  </body>
</html>
